body {
  font-family: "Roboto", sans-serif;
}

h2,
h3 {
  letter-spacing: 2px;
  font-size: 36px;
}

.section-title {
  font-family: "Great Vibes", cursive;
}

.navbar {
  background-color: #972121;
}

#cabecalho .nav .nav-link.active {
  background-color: #fff;
  color: #1d1d1d;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
  color: #fff;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-toggler {
  background-color: #fff;
}

.colored-text {
  color: #ca2828;
}

.container-sobre img {
  object-fit: cover;
}

#sobre, #cardapio {
  background-color: #202020;
  color: #fff;
}

#eventos div h3 {
  font-size: 30px;
}

.nav-cardapio .nav-link.active {
  background-color: #ca2828;
}

.nav-cardapio .nav-link:hover {
  color: #ff3131;
}

@media (min-width: 641px) and (max-width: 1023px) {
  li {
    margin-top: 10px;
  }
}

@media (max-width: 640px) {
  li {
    margin-top: 10px;
  }
}
